# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Distribution / packaging
*.egg-info/
dist/
build/

# Logs
*.log

# Model files
*.pt
*.pth
*.h5
*.onnx

# Images and test data
*.jpeg
*.bmp
*.tiff

# Editors/IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db 

# Secrets
*.env